body {
  font-family: Arial, Helvetica, sans-serif;
}

.home__container {
  font-size: 2rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.home__basicCounter__container{
  border: 1px Solid Red;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
}